$mobile-width: 575px;
$tablet-width: 767px;
$laptop-width: 991px;
$desktop-width: 1199px;
$large-width: 1399px;

@mixin xs {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$laptop-width}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}
@mixin xl {
  @media (max-width: #{$large-width}) {
    @content;
  }
}
