$red-primary: #c2071c;
$white-primary: #f8f1e9;
$color-red-5: #d14642;
$color-dark-4: #222;
$color-dark-3: #333;
$color-dark-2: #767676;
$color-black: #000;
$pink-shade: #df968f;
$green-shade: #133a35;
$blue-shade: #1c2137;
$black-shade: #111111;
$burgundy-shade: #661623;
$yellow-shade: #e8a701;